<h2>Sign up</h2>

<form action="<%= user_url %>" method="post">
  <%= render "fields" %>
  <button>Sign up</button>
</form>

Already a user? Click <a href="<%= new_session_url %>">here</a> to sign in.